
<h4>Name :- <%= @client.name %></h4>
<h4>address :- <%= @client.address %></h4>
<h4>phone_number :- <%= @client.phone_number %></h4>
<h4>phone_number :- <%= @client.email %></h4>
<h4>Services</h4>

<% @client.services.each do |service| %>
<p><%= service.name %> </p>

<%end%>
